.right{
    float: right;
    @include clearfix();
}
.left{
    float: left;
    @include clearfix();
}

.right-align{
    text-align: right;
}

.left-align{
    text-align: left;
}

.center-align{
    text-align: center;
}

