<div class="ch-card register-wrapper">
      <div class="header">
            <h2 class="title">Little Chat</h2>
      </div>
      <form name="loginform" ng-submit="UserCtrl.register()">
            <div class="form-group label-floating" ng-class="{'has-error':loginform.email.$invalid}">
                  <label for="name" class="control-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" ng-model="UserCtrl.name" required>
            </div>
            <div class="form-group label-floating" ng-class="{'has-error':loginform.email.$invalid}">
                  <label for="email" class="control-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" ng-model="UserCtrl.email" required>
            </div>
            <div class="form-group label-floating" ng-class="{'has-error':loginform.password.$invalid}">
                  <label for="password" class="control-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" ng-model="UserCtrl.password" required>
            </div>
            <div class="form-group label-floating pt-0 mt-0 right-align">
                  <button class="btn btn-default" ui-sref="login">Goto signin</button>
                  <button class="btn btn-raised btn-info" ng-disabled="loginform.$invalid">Signup</button>
            </div>
      </form>
      <div class="social-login-cotainer">
            <div class="social-login google-login" ng-click="UserCtrl.googleLogin('register')">
                  Signup with Google
            </div>
            <div class="social-login fb-login" ng-click="UserCtrl.fbLogin('register')">
                  Signup with Facebook
            </div>
      </div>
</div>